<article class="content_Beers__product">
  <img
    class="content_Beers__product-img"
    src="/assets/{{img}}"
    alt="{{name}}"
  />
  <h2 class="content_Beers__product-name">{{name}}</h2>
  <p class="content_Beers__product-description">{{description}}</p>
  <p class="content_Beers__product-price"><span
      class="content_Beers__product-price-label"
    >Precios</span>
    ${{price}}</p>
  <button class="content_Beers__product-btn">AGREGAR</button>
</article>